@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 1;
    }
}
.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
    animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
  

:root {
    --base-color: #F0F0F3;
    --sec-color: #7E7E98;
    --point-color: #1D1D2D;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #7E7E98;
    box-sizing: border-box;
}
img {
    image-rendering: -webkit-optimize-contrast;
    backface-visibility: hidden;
}
body {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}

#wrap {
    width: 100%;
    background: var(--base-color);
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.section__first-fullPage {
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;
}

.section__default-fullPage {
    width: 100vw;
    overflow:visible;
    background: var(--base-color);
}
.scetion__last-page {
    height: 100vh;
}
.section__default-bg2 {
    background: #E8E8ED;
}
.section__div__layout {
    width: 75%;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 80px 0;
}
.whole-flex-box {
    display: flex;
    gap: 20px
}

.section__div__bg-img {
    display: flex;
    width: 60vh; height: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
}

.section__div__bg-img > img {
    display: block;
    width: 54%;
    transform: rotate(-45deg);
}
.bg__img-first {
    position: relative;
    top: 8vh;
}
.bg__img-sec {
    position: relative;
    bottom: 8vh;
    right: 3vh;
}

.section__div__title-area {
    width: 1280px;
    margin: 0 auto;
    padding-left: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}
.section__div__title-area > h1 {
    font-size: 6.5vw;
    position: relative;
    line-height: 1;
    font-weight: bolder;
    color: #AEAEC0;
}
.section__div__title-area > h1 > span {
    font-size: 8.4vw;
}

.section__div__keywords-area {
    display: flex;
    gap: 16px;
    margin-top: 50px;
}
.section__div__keyword {
    display: block;
    position: relative;
    padding: 10px 20px;
    background-color: #F0F0F3;
    box-shadow: 3px 3px 10px rgb(174 174 192 / 40%);
    border-radius: 10px;
}
.section__div__keyword::after {
    content: '';
    width: 100%; height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0; left: 0;
    box-shadow: -3px -3px 10px rgb(255 255 255);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.h2__default-title {
    text-align: right;
    font-size: 50px;
    margin-bottom: 30px;
}

.div__default-cont {
    margin-bottom: 80px;
}
.div__default-cont > h3 {
    width: fit-content;
    margin-bottom: 16px;
}
.div__default-cont:last-child {
    margin: 0;
}

.section__div__card-flex-container {
    display: flex;
    gap: 20px;
}
.div__default-card > p {
    padding-left: 16px;
    margin-top: 16px;
}

.div__color {
    width: 20vw; height: 10vw;
    margin-bottom: 16px;
}
.base-color {
    background: var(--base-color);
}
.sec-color {
    background: var(--sec-color);
}
.point-color {
    background: var(--point-color);
}

.img-default {
    display: block;
}
.img-shadow {
    box-shadow: 0px 0px 10px rgba(174,174,192,0.4);
}
.img-btn-shadow {
    box-shadow: 0px 0px 8px rgba(174,174,192,0.4);
    border-radius: 8px;
}
.img-width {
    width: 360px;
}
.img-width-res {
    max-width: 360px;
    width: 25vw;
}
.img-btn-height1 {
    height: 40px;
}
.img__bottom-bar {
    border-radius: 20px 20px 0 0;
}

.div__main-stye-btn {
    width: 328px; height: 50px;
    border-radius: 10px;
    position: relative;
}
.div__main-stye-btn div {
    width: 328px; height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 0; left: 0;
    color: #1D1D2D;
    text-align: center;
    line-height: 50px;
}
.btn-bg {
    background: #F0F0F3;
    box-shadow: 4px 4px 8px rgb(174 174 192 / 40%);
}
.btn-bg-sec {
    background: #E8E8ED;
    box-shadow: 4px 4px 8px rgb(174 174 192 / 40%);
}
.btn-bg-dark {
    background: #7E7E98;
    box-shadow: 4px 4px 8px rgb(174 174 192 / 40%);
}
.btn-top-left-border {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.btn-white-shadow {
    box-shadow: -4px -4px 8px rgb(255 255 255);
}
.btn-bottom-right-border {
    border-bottom: 2px solid rgba(185, 185, 185, 0.08);
    border-right: 2px solid rgba(185, 185, 185, 0.08);
}
.btn-inner-text-white {
    color: #fff !important;
}

.div__prod-element-area {
    width: 160px;
}
.div__img-area {
    width: 160px; height: 196px;
    border-radius: 6px;
    background: #fff;
    position: relative;
}
.div__color-area {
    display: flex;
    flex-flow: column;
    gap: 2px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.div__color-area__color {
    width: 10px; height: 10px;
    border-radius: 2px;
    background: #000;
}
.div__wish-area {
    width: 32px; height: 32px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div__wish-area-detail-ver {
    width: 32px; height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wish-area {
    margin-top: 16px;
}
.div__text-area {
    width: 100%; 
    margin-top: 8px;
    padding: 0 8px;
}
.div__prod-name p {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: var(--point-color);
}
.div__price {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}
.div__price p {
    background-color: #fff;
    white-space: normal;
    font-size: 14px;
    color: var(--point-color);
}
.div__price p:first-child {
    font-weight: bold;
}
.div__price p:last-child {
    color: #AEAEC0;
    text-decoration: line-through;
}
.div__color-view-area__color-area {
    gap: 2px;
    padding:8px;
}

.link-btn {
    width: fit-content;
    height: 70vh;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.link-btn:hover {
    transform: translate(-50%, -52%);
    transition: 0.2s;
}
.link-btn img {
    display: block;
    height: 100%;
}
.link-btn p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}